*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}

.heroSection{
  width: 100%;
  min-height: 100vh;
  
  padding: 10px;
}

.customHeader{
  width: 550px;
  height: 50px;
  margin: auto;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.customHeader img{
  height: 45px;
}
.clock{
  width: 550px;
  min-height: 400px;
  margin: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  gap: 15px;
}
.timerType{
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.timerType button{
  padding: 5px;
  background-color: #f6dbd4;
  color: rgb(175 77 77);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}
.actualTimer{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 2px solid #f6dbd4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #f6dbd4;
}
.actualTimer h3{
  font-size: 55px;
}
.TimeProgress{
  width: 550px;
  height: 1px;
  background-color: #0000002e;
  margin: auto;
  margin-bottom: 20px;
}
.timerStateButton{
  width: 100%;
  display: flex;
  justify-content: center;
}
.timerStateButton button{
  padding: 10px;
  background-color: #f6dbd4;
  color: rgb(175 77 77);
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}
.currentTask{
  width: 550px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f6dbd4;
  margin: auto;
}
.titlesHeader{
  width: 550px;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f6dbd4;
  border-bottom: 3px solid #f6dbd4;
  margin-bottom: 10px;
}
.titlesHeader h3{
  font-size: 18px;
}
.titlesHeader i{
  font-size: 18px;
  cursor: pointer;
}
.addTaskButton{
  width: 550px;
  height: 60px;
  margin: auto;
}
.addTaskButton button{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px dashed #f6dbd4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgba(35, 35, 35, 0.123);
  color: #f6dbd4;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
}
.TaskForm{
  width: 550px;
  min-height: 200px;
  border-radius: 10px;
  background-color: #f6dbd4;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}
.form{
  width: 100%;
}
.inputs{
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #45474b;
}
#taskTitle{
  border: none;
  background: none;
  height: 40px;
  font-size: 25px;
  outline: none;
  caret-color: black;
}
#taskTitle::placeholder{
  color: #8c8c8c;
}
.inputs div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.num-input {
  width: 70px;
  height: 42px;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  color: #45474b;
  font-size: 15px;
  font-weight: 600;
  outline: none;
  background-color: #efefef;
}
.saveButtonCont{
  width: 100%;
  height: 50px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffe9e9;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.saveButtonCont button{
  width: 70px;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.saveButton{
  background-color: #45474b;
  color: #efefef;
}
.cancelButton{
  background-color: #ffe9e9;
  color: #45474b;
}
.allTasks{
  width: 550px; 
  margin: auto;
  margin-bottom: 8px;
}
.singleTask{
  width: 100%;
  height: 60px;
  background-color: #f6dbd4;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid black;
  margin-bottom: 5px;
}
.singleTask h3{
  color: #45474b;
}
.singleTask div{
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #929292;
  letter-spacing: 3px;
}
.singleTask div i{
  font-size: 18px;
  cursor: pointer;
}
