*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}
.heroSection{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(175 77 77);
  padding: 10px;
}
#timerLogo{
  color: white;
  font-size: 20px;
}
.customHeader{
  width: 50%;
  height: 45px;
  margin: auto;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.customHeader h2{
  color: white;
}
.clock{
  width: 50%;
  min-height: 400px;
  margin: auto;
  padding: 10px;
  border-top: 1px solid white;

}